<h1> <%= "Articles tagged with #{@tag}" %> </h1>
<ul id='tag-results'>
  <% results = @links.select do |link| %>
    <% next if link.tags.empty? %>
    <% link.tags.first.name == @tag  %>
  <% end %>
  <% results.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
  <% end %>
</ul>
